@font-face {
  font-family: 'Memento Mori';
  font-weight: 400;
  src: url(../font/MementoMori-Regular.ttf);
  src: url(../font/MementoMori-Regular.woff2) format('woff2'),
       url(../font/MementoMori-Regular.woff) format('woff');
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

svg:not(:root).svg-inline--fa {
  overflow: visible;
}

.svg-inline--fa {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  overflow: visible;
  vertical-align: -.125em;
}

.svg-inline--fa.fa-w-16 {
  width: 1em;
}

body {
  background-color: #fcfcfc;
/*   background-image: url(../images/bg-top-left.png),
    url(../images/bg-top-right.png),
    url(../images/bg-bottom-left.png),
    url(../images/bg-bottom-right.png); */
  background-position: top left,
    top right,
    bottom left,
    bottom right;
  /* bottom left,bottom right */
  background-size: 30%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #21201f;
  font-family: "Unna", serif;
  min-height: 100vh;
/*   width: 100%; */
  margin: 0;
  font-size: 24px;
  line-height: 1.5;
}

a {
  color: crimson;
}

a:hover {
  color: brown;
}

a:focus {
  outline: 0;
  box-shadow: 0 0 0 4px rgba(0, 123, 255, 0.5);
}

h1 {
  font-family: 'Memento Mori';
  font-weight: 400;
  font-style: normal;
  font-size: 180px;
  letter-spacing: 0;
  line-height: 0.94em;
  animation: fade-in 1000ms;
  opacity: 1;
  transform: translateY(0);
/*   text-shadow: 0 0 10px rgba(0, 0, 0, .5); */
}

@keyframes fade-in {
  0% {
    opacity: 0;
/*     transform: translateY(-100px); */
  }

  100% {
    opacity: 1;
/*     transform: translateY(0); */
  }
}

.amp {
  font-family: 'Unna', serif;
  font-style: italic;
}

h1 .amp {
  font-size: 140px;
  margin-left: 100px;
  position: relative;
  right: -18px;
  top: -43px;
}

.slide {
  align-items: center;
  display: flex;
  flex-direction: column;
/*   height: 100vh; */
  width: 100%;
}

.title-slide {
  height: 100vh;
  justify-content: center;
  text-align: left;
}

.detail-slide {
/*   justify-content: flex-start; */
  justify-content: center;
  text-align: center;
  max-width: 50vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20vw;
}

.detail-slide p {
  padding-left: 2.5em;
  padding-right: 2.5em;
}

.text-center {
  text-align: center;
}

h2 {
  font-size: 80px;
  line-height: 1;
  /* margin-bottom: 0.5em; */
  margin-top: 0;
}

h3 {
  font-size: 32px;
  line-height: 1;
  margin: 0;
  /* margin-bottom: 0.5em;
  margin-top: 0; */
}

h3 + p {
  margin-top: 8px;
}

h2.with-line {
  position: relative;
}

h2.with-line::after,
h2.with-line::before {
  content: "";
  display: block;
  height: 1px;
  width: 200px;
  background-color: rgba(0, 0, 0, .2);
  top: 4px;
  bottom: 0;
  margin: auto 0;
  position: absolute;
}

h2.with-line::after {
  right: -240px;

}

h2.with-line::before {
  left: -240px;
}

.intro h2 {
  margin-bottom: 0;
}

.intro p:nth-of-type(1) {
  font-size: 32px;
}

.intro p:nth-of-type(2) {
  margin-top: 2em;
}

.flowers {
  height: 140px;
  width: 140px;
}

.top-left,
.top-right,
.bottom-left,
.bottom-right {
  width: 25%;
  position: fixed;
  z-index: 2;
/*   animation: fade-in 1000ms;
  opacity: 1; */
}

.top-left {
  top: 0;
  left: 0;
}

.top-right {
  top: 0;
  right: 0;
}

.bottom-left {
  bottom: 0;
  left: 0;
}

.bottom-right {
  bottom: 0;
  right: 0;
}

.button {
  /* border: 4px solid #21201f; */
  /* color: inherit; */
  font-size: 1.5em;
  padding: 20px 60px;
  text-decoration: none;
  background-color: #21201f;
  color: #fcfcfc;
}

.button:hover {
  /* background-color: #21201f; */
  color: #fcfcfc;
  /* background-color: #000; */
  background-color: crimson;
}

.button.small {
  font-size: 1em;
  padding: 10px 30px;
}

.external-link {
  color: inherit;
  text-decoration: none;
}

.external-link.inline::after {
  content: " ";
  white-space: pre-wrap;
}

.external-link span {
  text-decoration: underline;
}

.external-link svg {
  /* font-size: 10px; */
  font-size: 0.4em;
  /* transform: translate(6px, -4px); */
  transform: translate(0.6em, -0.3em);
}

.external-link:hover {
  color: crimson;
}
